@font-face {
    font-family: "era-itc-demi";
    src: url("/assets/fonts/era-itc-demi.ttf");
}

@font-face {
    font-family: "era-itc-demi";
    src: url("/fonts/eras-itc-demi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "era-itc-demi-bold";
    src: url("/fonts/ITC Eras Bold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "metrica";
    src: url("/fonts/Metricas V2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "scollar";
    src: url("/fonts/SCOLLAR - FREE FOR PERSONAL.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "nasBold";
    src: url("/fonts/NasionalSansUltrabold-2vGWv.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "nas";
    src: url("/fonts/NasionalSansSemibold-7O36P.ttf") format("truetype");
    font-weight: normal;
}

/* h1 {
    font-size: clamp(2rem, 5vw, 3rem) !important;
  }
  
  h2 {
    font-size: clamp(1.75rem, 4.5vw, 2.5rem) !important;
  }
  
  h3 {
    font-size: clamp(1.5rem, 4vw, 2rem) !important;
  }
  
  h4 {
    font-size: clamp(1.25rem, 3.5vw, 1.75rem) !important;
  }
  
  h5 {
    font-size: clamp(1rem, 3vw, 1.5rem) !important;
  }
  
  h6 {
    font-size: clamp(0.875rem, 2.5vw, 1.25rem) !important;
  }
   */