@font-face {
    font-family: "era-itc-demi";
    src: url("/assets/fonts/era-itc-demi.ttf");
}

@font-face {
    font-family: "era-itc-demi";
    src: url("/fonts/eras-itc-demi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "era-itc-demi-bold";
    src: url("/fonts/ITC Eras Bold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "metrica";
    src: url("/fonts/Metricas V2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "scollar";
    src: url("/fonts/SCOLLAR - FREE FOR PERSONAL.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "nasBold";
    src: url("/fonts/NasionalSansUltrabold-2vGWv.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "nas";
    src: url("/fonts/NasionalSansSemibold-7O36P.ttf") format("truetype");
    font-weight: normal;
}

/* h1 {
    font-size: clamp(2rem, 5vw, 3rem) !important;
  }
  
  h2 {
    font-size: clamp(1.75rem, 4.5vw, 2.5rem) !important;
  }
  
  h3 {
    font-size: clamp(1.5rem, 4vw, 2rem) !important;
  }
  
  h4 {
    font-size: clamp(1.25rem, 3.5vw, 1.75rem) !important;
  }
  
  h5 {
    font-size: clamp(1rem, 3vw, 1.5rem) !important;
  }
  
  h6 {
    font-size: clamp(0.875rem, 2.5vw, 1.25rem) !important;
  }
   */

   /* {
    "colors": {
      "blue": {
        50: "#ECECFE",
        100: "#D8D8FD",
        200: "#ACACFB",
        300: "#8686F9",
        400: "#5F5FF7",
        500: "#3636F5",
        600: "#0B0BE4",
        700: "#0808AA",
        800: "#060670",
        900: "#03033A",
        950: "#01011D"
      }
    }
  } */

  /* {
    "colors": {
      "pink": {
        50: "#FFE0FE",
        100: "#FFC7FE",
        200: "#FF8AFD",
        300: "#FF52FC",
        400: "#FF14FB",
        500: "#DA00D6",
        600: "#AD00AB",
        700: "#850082",
        800: "#570055",
        900: "#2E002D",
        950: "#140014"
      }
    }
  } */

  /* {
    "colors": {
      "atomic": {
        50: "#FFF5F0",
        100: "#FFEBE0",
        200: "#FFD7C2",
        300: "#FFC3A3",
        400: "#FFAF85",
        500: "#FF9B66",
        600: "#FF6D1F",
        700: "#D64B00",
        800: "#8F3200",
        900: "#471900",
        950: "#240C00"
      }
    }
  } */

  /* {
    "colors": {
      "atomic": {
        50: "#FFFCFA",
        100: "#FFFCFA",
        200: "#FEF7F1",
        300: "#FEF4EC",
        400: "#FDEFE2",
        500: "#FDECDD",
        600: "#F8B982",
        700: "#F3882B",
        800: "#B2590A",
        900: "#5C2E05",
        950: "#2B1603"
      }
    }
  } */